/* css/profile-edit-styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.edit-profile-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #6B240C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
   
    bottom: 0;
    width: 100%;
}

h4, h1{
    color: #6B240C;
    text-align: center;
   
}

div h6 {
    font-size: medium;  
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    font-weight:bold;
    line-height: 20px;

}
div h6 span{
    color:#6B240C;
}